<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Useless Weather</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js" defer></script>
</head>
<body>
    <script src="script.js"></script>
    <div class="container">
        <img id="weatherImg" src="static/weather_button.png" alt="What's the weather?">
        <div id="weatherText"></div>
        <div id="tinyTextBox" class="tiny-text-box">Tell me what the actual weather is</div>




    </div>


</body>
</html>



